digit_char_dataset.csv
results/license_plates/license_plate.1_adaptive_thresholding.png
results/license_plates/license_plate.4_adaptive_thresholding.png
results/license_plates/license_plate.4.png
results/license_plates/segmented_plate.1/character_0.png
results/license_plates/segmented_plate.1/character_1.png
results/license_plates/segmented_plate.1/character_2.png
results/license_plates/segmented_plate.1/character_3.png
results/license_plates/segmented_plate.1/character_4.png
results/license_plates/segmented_plate.1/character_5.png
results/license_plates/segmented_plate.1/character_6.png
results/license_plates/segmented_plate.1/character_7.png
results/license_plates/segmented_plate.1/character_8.png
results/license_plates/segmented_plate.1/character_9.png
results/license_plates/segmented_plate.1/character_10.png
results/license_plates/segmented_plate.1/character_11.png
results/license_plates/segmented_plate.1/character_12.png
results/license_plates/segmented_plate.1/character_13.png
results/license_plates/segmented_plate.4/.DS_Store
results/license_plates/segmented_plate.4/character_0.png
results/license_plates/segmented_plate.4/character_1.png
results/license_plates/segmented_plate.4/character_2.png
results/license_plates/segmented_plate.4/character_3.png
results/license_plates/segmented_plate.4/character_4.png
results/license_plates/segmented_plate.4/character_5.png
results/license_plates/segmented_plate.4/character_6.png
results/license_plates/segmented_plate.4/character_7.png
results/license_plates/segmented_plate.4/character_8.png
results/license_plates/segmented_plate.4/character_9.png
results/license_plates/segmented_plate.4/character_10.png
results/license_plates/segmented_plate.4/character_11.png
results/license_plates/segmented_plate.4/character_12.png
